@import "compass/reset";
@import "compass/css3";

/* VARIABLES */
$red: #ef4043;

$light_gray: #d1d8db;

$font_color: #363c43;
$light_font_color: $light_gray;


$wrapper_width: 1130px;
$sidebar_width: 208px;
/* VARIABLES END */



/* MIXINS */
@mixin master_transition {
	@include transition-property(all);
	@include transition-duration(0.4s);
}

@mixin sizing {
	@include box-sizing(border-box);
}
/* MIXINS END */


/* CLEARFIX */
.clearfix {
	zoom:1;
	&:before, &:after {
		content: "\0020"; 
		display: block; 
		height: 0; 
		overflow: hidden; 
	}
	&:after {
		clear: both;
	}
}
/* CLEARFIX END */


/* RESETS */
html, body{	
	height:100%;
}

body {
	font-family: 'Arimo', Helvetica, sans-serif;
	font-size: 62.5%;
}

* {
	outline: none;
}

a {
	text-decoration: none;
}

input, input::-moz-focus-inner {
	border: none;
}

input {
	-webkit-appearance: none;
	@include border-radius(0);
	border: none;
}

input:focus, textarea:focus, input:focus::-moz-focus-inner {
	outline: none;
	border: none;
}
/* RESETS END */

/* LAYOUT */
#header {
	@include sizing;
	width: 100%;
	height: 147px;
	border-bottom: 7px solid $red;
}

.column-wrapper {
	display: table;
	width: $wrapper_width;
	min-height: 100%;
	margin: 0 auto;
}

#sidebar, #content {
	display: table-cell;
	vertical-align: top;
}

#sidebar {
	width: $sidebar_width;
	display: table-cell;
	vertical-align: top;
}

#content {
	@include sizing;
	padding: 40px 45px;
}
/* LAYOUT END */

#heading {
	@include sizing;
	width: $wrapper_width;
	margin: 0 auto;
	padding-top: 30px;

	h1 {
		color: $red;
		font-size: 4.8em;
		margin-bottom: 5px;
	}

	p {
		color: $light_font_color;
		font-size: 3em;
	}
}

#sidebar {
	
	ol {
		width: $sidebar_width;

		li {

			a {
				@include sizing;
				@include master_transition;
				display: block;
				width: 100%;
				height: 62px;
				padding-left: 24px;
				text-align: left;
				font-size: 3em;
				line-height: 2em;
				color: $light_font_color;
			}

			&.active a, &:hover a {
				background: $red;
				color: #ffffff; 
			}
		}
	}

	&.fixed ol {
		position: fixed;
		top: 0px;
	}
}

#content {
	section {
		width: 100%;
		color: $font_color;
		margin-bottom: 40px;

		&:last-child {
			margin-bottom: 0px;
		}

		h2 {
			font-size: 3em;
			margin-bottom: 30px;
		}

		p {
			font-size: 1.8em;
		}
	}
}